
@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: michroma, serif; 
    /*background: linear-gradient(90deg, #0522FF 0%, #0C0C0C 100%);*/
	background: linear-gradient(145deg, #D22727 0%, #000 47%, #2F7D66 100%);
}

p {
    color: rgb(236, 53, 53);
}

.nav-link {
    color: aquamarine;
}
.navbar-nav .nav-link.active {
    color: rgb(236, 53, 53);
}
.navbar-brand img {
    width: 45px;
}
.navbar-toggler {
    background-color: rgb(236, 53, 53);
}


/* .card img {
    height: 450px;
    width: 100%;
} */
.sadibar {
    color: rgb(236, 53, 53) ;
    background: linear-gradient(270deg, #0522FF 0%, #0C0C0C 100%);
}
.card {
    background: linear-gradient(270deg, #0522FF 0%, #0C0C0C 100%);
    color: rgb(236, 53, 53);
}
.card a{
    text-decoration: none;
    color: rgb(236, 53, 53);
}
.slaid-text,
.footer-text {
    color: rgb(236, 53, 53);
    margin: auto auto;
}

footer, 
.btn-outline-primary {
    background: linear-gradient(270deg, #0522FF 0%, #0C0C0C 100%);
}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-anim {
    animation: call 1.5s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}
